
*{
      margin: 0;
      box-sizing: border-box;
      padding: 0;
}

body{
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.4;
      background: #fcfcfc;
      color: #1f1f11;
}


:root {
      --main-color: #678c89;
}

.header-container{
      background: var(--main-color );
      color:#fff;
      padding: 10px 15px;
}

.header-tile{
      font-size: 25px;
      line-height: 1.147em;
      margin: 0;
}

.container{
      max-width: 900px;
      margin: 0 auto;
      border: 1px solid var(--main-color);
}


.todo-item{
      list-style: none;
      padding: 10px 15px;
      border-top:1px solid var(--main-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.todo-item span{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      display: inline-block;
      text-transform: capitalize;
      flex: 1;
      margin: 0 15px;
}

.completed{
      font-style: italic;
      color: #ccc;
      text-decoration: line-through;
}

.btn-style{
      background: #58c954;
      color: #fff;
      padding: 3px 7px;
      border-radius: 50%;
      cursor: pointer;
      float:right;
      outline: none;
      border: none;
}


.form-container {
      display: flex;
      flex: 1;
}
.input-text {
      flex: 8;
      font-size: 14px;
      padding: 6px 15px;
      background: rgba(103, 140, 137, 0.65);
      border: none;
      color: #fff;
      outline: none;
      font-weight: 400;
      width: 80%;
}
.input-text::placeholder {
      color: #fff;
      opacity: 0.8;
}
.input-submit {
      
      border: none;
      background: var(--main-color);
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      width: 20%;
      outline: none;
      flex: 2;
}

.footer {
      height: 50px;
      background: var(--main-color);
      color: white;
      position: relative;
      }
.vertical-center {
      margin: 0 0 0 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
}

.vertical-center span{
      position: relative;
      bottom: 3px;
}

.dot {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
}
.red {
      background-color: #ff0000;
}
.blue {
      background-color: #0000ff;
}
.gray {
      background-color: #678c89;
}